.footerContainer {
  display: grid;
  grid-template-columns: 20% 80%;
  background-color: #0d1a26;
  width: 100%;
  margin: 0 auto;
  min-height: 20vh;
  padding: 2.5rem;
  align-items: center;
  justify-items: center;
}

.socials {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.socialIcon {
  color: #dfe3e7;
  font-size: 2rem;
  margin: 0.5rem 0;
  transition: 300ms all ease-in-out;
  &:hover {
    color: #fe6b35;
    cursor: pointer;
  }
}

.footerNav {

}
