/* variables */

/*
$darkest-blue: #0D1A26;
$darker-blue: #152637;
$lighter-blue: #1F3347;
$lightest-blue: #2D4053;

$accent-green: #01ffc3;
$accent-orange: #fe6b35;
 */

html,
body {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 0;
  margin: 0;
  color: hsl(210, 14%, 89%);
  font-family: 'Khula', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

button:focus {
  outline: none;
}

* {
  box-sizing: border-box;
}
